<%-  include("./partials/header.ejs")   %>

          <script>
            const homeCountry = JSON.parse('<%- JSON.stringify(homeCountry) %>');
            const neighbors = JSON.parse('<%- JSON.stringify(neighbors) %>');
                
              
            </script>

    <div class="container">

        <!-- 
        <div class="row py-3 text-center">
            <h1><span>Currency Exchange Rate Conversion</span></h1>
        </div>
    -->
        
        <div class="row text-center d-flex justify-content-evenly">

        
            <div class="main card" style="width: 21rem;">
                <div class="card-body">
                    <h5 class="card-title">
                    <span class="fi fi-<%= homeCountry.countryCode  %>"></span>
                    <%= homeCountry.currencyName  %> (<%= homeCountry.currencyCode  %>)
                    <span class="fi fi-<%= homeCountry.countryCode  %>"></span>
                    </h5>
                    <h2 class="card-text"> <span id="amount_main"> <%= homeCountry.conversionRate  %></span> <%= homeCountry.currencySymbol  %></h2>
                    <form action="/update" method="POST" class="textual">
                      <input type="hidden" name="_method" value="PUT"> 
                    <div class="input-group mb-3">
                        <input type="text" name="id" class="form-control" placeholder="Enter amount (<%= homeCountry.currencySymbol  %>)">
                        <button class="btn btn-outline-secondary hidden" type="submit" >Search</button>
                      </div>
                      <select name="idType" class="form-select" aria-label="Default select example">
                        <option value="amount" selected>Conversion</option>
                        <option value="currency">Search currency</option>
                        <option value="country name">Search country</option>
                      </select>
                      <input type="hidden" name="deletedNeighbors">
                      <input type="hidden" name="neighbors" value='<%- JSON.stringify(neighbors) %>'>
                      
                    </form>
                </div>
            </div>
        </div>
        <div class="row py-3 text-center d-flex justify-content-evenly">
                        
        <% for (let i = 0; i < neighbors.length; i++) { %>
            <div id="card<%= i %>"class="card position-relative" style="width: 18rem;">
            
                    <button type="button" id="close<%= i  %>" class="btn-close p-2 position-absolute top-0 end-0" aria-label="Close"></button>
                    
                
                <div class="card-body">
                    <h5 class="card-title">
                    <span class="fi fi-<%= neighbors[i].countryCode %>"></span>
                    <%= neighbors[i].currencyName  %> (<%= neighbors[i].currencyCode  %>)
                    <span class="fi fi-<%= neighbors[i].countryCode %>"></span>
                    </h5>
                    <h2 class="card-text"> <span id="amount_<%= i  %>"><%= neighbors[i].conversionRate  %></span> <%= neighbors[i].currencySymbol  %></h2>
                    
                </div>
                <form action="/swap" method="POST" class="hidden">
                  <input type="hidden" name="index" value="<%= i  %>">
                  <input type="hidden" name="deletedNeighbors">
                  <input type="hidden" name="_method" value="PATCH">
                  <input type="hidden" name="homeCountry" value='<%- JSON.stringify(homeCountry) %>'>
                  <input type="hidden" name="neighbors" value='<%- JSON.stringify(neighbors) %>'>
                </form>
            </div>


            
            <%   } %>


            
      

            <div class="plus card position-relative" style="width: 10rem;">
                <div class="card-body">
                    <button type="button" class="plus btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
      </svg>
                        <span class="visually-hidden">Button</span>
                      </button>

                </div>
            </div>

            <div class="new card hidden" style="width: 21rem;">
                <div class="card-body">
                 
                    <form action="/add" method="POST" class="textual">
                    <div class="input-group mb-3">
                        <input name="id" type="text" class="form-control" placeholder="Enter currency"  aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" >Search</button>
                      </div>
                      <select name="idType" class="form-select" aria-label="Default select example">
                        
                        <option selected value="currency">Search currency</option>
                        <option value="country name">Search country</option>
                      </select>
                      <input type="hidden" name="deletedNeighbors">
                      <input type="hidden" name="homeCountry" value='<%- JSON.stringify(homeCountry) %>'>
                      <input type="hidden" name="neighbors" value='<%- JSON.stringify(neighbors) %>'>
                    </form>
                </div>
            </div>
  
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/currencyExchange/animations/home.js"></script>

  </body>
    </html>
